.navbar-image {
    margin-left: 5%;
    margin-right: 15%;
}

.auth {
    margin-left: auto;
    margin-right: 5%;
}

.navbar-services {
    margin: auto;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(185, 42, 50);
}

.btn-register {
    color: #fff;
    background-color: rgba(185, 42, 50);;
    border-color: rgba(185, 42, 50);
}

.btn {
    border-radius: 100px;
}