.navbar-image {
    margin-left: 5%;
    margin-right: 15%;
}

.auth {
    margin-left: auto;
}

.navbar-services {
    margin: auto;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(185, 42, 50);
}