.custom-shape-divider-top-1652864849 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .custom-shape-divider-top-1652864849 svg {
    position: relative;
    display: block;
    width: calc(180% + 1.5px);
    height: 120px;
  }
  
  .custom-shape-divider-top-1652864849 .shape-fill {
    fill: #b92a32;
  }